@import url('https://fonts.googleapis.com/css?family=Inter');
@import url('https://fonts.googleapis.com/css?family=Caprasimo');

/* about component */

/* whole container */
.about-section-container{
    width: 85%;
    margin: 60px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* about image */
.about-section-container .about-image{
    flex-basis: 45%;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    border-radius: 15px;
}
.about-section-container .about-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

/* about content */
.about-section-container .about-content{
    flex-basis: 50%;
}
.about-content h1{
    margin: 30px auto 20px auto;
    font-family: 'Caprasimo', sans-serif;
}
.about-content-div{
    margin-top: 30px;
}


/* mobile screen */
@media (max-width: 767px) {
    .about-section-container .about-image{
        flex-basis: 100%;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .about-section-container .about-content{
        flex-basis: 100%;
    }
}


/* tab screen */
@media (min-width: 768px) and (max-width: 991px){
    .about-section-container .about-image {
        flex-basis: 100%;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    .about-section-container .about-content {
        flex-basis: 100%;
    }
}

