@import url('https://fonts.googleapis.com/css?family=Roboto Condensed');
@import url('https://fonts.googleapis.com/css?family=Caprasimo');

.education-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 15px;
}

.education-section h2 {
    font-family: "Caprasimo", sans-serif;
    color: #3d68f3;
    flex-basis: 100%;
    margin: 25px 0 25px 25px;
}

.education-icon {
    flex-basis: 5%;
    margin: 15px auto;
}

.education-icon .icon-wrapper {
    padding: 8px;
    border-radius: 26px;
    background-color: #3d68f3;
    text-align: center;
}

.education-content {
    flex-basis: 90%;
    margin: 15px auto;
    padding: 15px;
}

.education-content h5 {
    color: #3d68f3;
    font-family: "Caprasimo";
}

.education-content h4 {
    color: black;
    font-family: "Caprasimo";
}

.education-content h6 {
    font-weight: bold;
    font-size: 16px;
    font-family: "Caprasimo";
}

.education-content p {
    color: #676767;
    font-weight: bold;
}

.education-div::after {
    content: " ";
    height: 1px;
    width: 95%;
    background: #d6d6d6;
}

/* mobile screen */
@media (max-width: 767px) {
    .education-icon {
        margin-top: 25px;
        flex-basis: 3%;
    }

    .education-content {
        flex-basis: 80%;
    }

    .education-section h2 {
        margin-left: 0px;
    }
}